*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("https://wallpaperaccess.com/full/1121749.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
header{
    background-color: black;
    position: fixed;
    width: 100vw;
    padding: 8px;
}
header hr{
    color: white;
}
#left{
    float: left;
}
#right{
    float: right;
}
#right a{
    color: white;
    text-decoration: none;
}
#right a:hover{
    text-decoration: underline;
    color: red;
}
header img{
    width: 30px;
}